{% extends "base1.html" %}
{% load static %}
{% block title %}
Blog
{% endblock %}
{% block content %}
<!-- Main Content -->
<div id="main" class="site-main">
    <!-- Page changer wrapper -->
    <div class="pt-wrapper">
        <!-- Subpages -->
        <div class="subpages">
            <!-- Contact Subpage -->
            <section class="pt-page" data-id="contact">
                <div class="section-inner custom-page-content">
                    <div class="page-header color-1">
                        <h2>تماس</h2>
                    </div>
                    <div class="page-content">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div class="block-title">
                                    <h3>تماس <span>باما</span></h3>
                                </div>
                                <!-- Google Map -->
                                <div id="map" class="map"></div>
                                <!-- End of Google Map -->
                                <div class="contact-info-block">
                                    <div class="ci-icon">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <div class="ci-text">
                                        <h5>خیابان شهرداری</h5>
                                    </div>
                                </div>
                                <div class="contact-info-block">
                                    <div class="ci-icon">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="ci-text">
                                        <h5>alexsmith@example.com</h5>
                                    </div>
                                </div>
                                <div class="contact-info-block">
                                    <div class="ci-icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="ci-text">
                                        <h5>+123 654 78900</h5>
                                    </div>
                                </div>
                                <div class="contact-info-block">
                                    <div class="ci-icon">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div class="ci-text">
                                        <h5>فریلنسری در دسترس</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="block-title">
                                    <h3>فرم <span>تماس</span></h3>
                                </div>
                                <form id="contact-form" method="post" action="contact_form/contact_form.php">
                                    <div class="messages"></div>
                                    <div class="controls">
                                        <div class="form-group form-group-with-icon">
                                            <i class="fa fa-user"></i>
                                            <label>نام کامل</label>
                                            <input id="form_name" type="text" name="name" class="form-control" placeholder required="required" data-error="نام الزامی است.">
                                            <div class="form-control-border"></div>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="form-group form-group-with-icon">
                                            <i class="fa fa-envelope"></i>
                                            <label>آدرس ایمیل</label>
                                            <input id="form_email" type="email" name="email" class="form-control" placeholder required="required" data-error="ایمیل معتبر مورد نیاز است.">
                                            <div class="form-control-border"></div>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="form-group form-group-with-icon">
                                            <i class="fa fa-comment"></i>
                                            <label>پیام برای من</label>
                                            <textarea id="form_message" name="message" class="form-control" placeholder rows="4" required="required" data-error="لطفا برای من پیام بگذارید"></textarea>
                                            <div class="form-control-border"></div>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="g-recaptcha" data-sitekey="6LdqmCAUAAAAAMMNEZvn6g4W5e0or2sZmAVpxVqI"></div>
                                        <input type="submit" class="button btn-send" value="ارسال پیام">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Contact Subpage -->
        </div>
    </div>
</div>
{% endblock %}